*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  background:linear-gradient(135deg,#081120,#0d1f3c,#10284f);
  color:white;
  padding:30px;
  min-height:100vh;
  overflow-x:hidden;
}

/* canvas */
#bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

/* TOP BAR */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  background:rgba(255,255,255,0.04);
  border-radius:12px;
  backdrop-filter:blur(10px);
}

.left{display:flex;gap:10px;align-items:center;}

.logo{width:40px;height:40px;border-radius:8px;}

.project-name{color:#00e5ff;font-size:20px;font-weight:bold;}

.back-btn{
  background:#00cfff;
  padding:10px 15px;
  border-radius:8px;
  color:black;
  text-decoration:none;
  font-weight:bold;
}

/* TITLE */
.page-title{text-align:center;margin:25px 0;}
.page-title h1{color:#00e5ff;font-size:34px;}
.page-title p{color:#b8dfff;}

/* CONTAINER */
.container{
  display:flex;
  flex-direction:column;
  gap:18px;
}

/* SECTION (NO CARDS) */
.section{
  padding:20px 10px;
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.section h3{
  color:#00e5ff;
  margin-bottom:12px;
}

/* ROW */
.setting-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 0;
}

/* INPUT */
input,select{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:8px;
  background:#16294d;
  color:white;
}

/* BUTTON */
.btn{
  width:100%;
  padding:12px;
  background:#00cfff;
  border:none;
  border-radius:8px;
  font-weight:bold;
}

/* SCORE */
.center{text-align:center;}

.score{
  font-size:55px;
  color:#00ff88;
  font-weight:bold;
}

.progress{
  height:10px;
  background:#1a2b4e;
  border-radius:20px;
}

.progress-bar{
  width:92%;
  height:100%;
  background:#00ff88;
}

/* SWITCH */
.switch{
  position:relative;
  width:50px;
  height:26px;
}

.switch input{display:none;}

.slider{
  position:absolute;
  inset:0;
  background:#444;
  border-radius:20px;
  transition:0.3s;
}

.slider:before{
  content:"";
  position:absolute;
  width:18px;
  height:18px;
  top:4px;
  left:4px;
  background:white;
  border-radius:50%;
  transition:0.3s;
}

input:checked + .slider{
  background:#00e5ff;
}

input:checked + .slider:before{
  transform:translateX(24px);
}

/* STATUS */
.status{
  background:#00ff88;
  color:black;
  padding:5px 10px;
  border-radius:20px;
  font-weight:bold;
}

/* DANGER */
.danger-btn{
  width:100%;
  margin-top:10px;
  padding:12px;
  background:#ff4d4d;
  border:none;
  border-radius:8px;
  color:white;
}

/* SCROLLBAR */
::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#00cfff;
border-radius:10px;
}